form{
    align-items: center;
}

body{
    background-color: #fffff0;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    line-height: 3em;
}

a{
    text-decoration: none;
}

.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.level-label, .red{
    color: #d82502;
}

.title-label{
    color: #004aad;
    font-size: 1.4rem;
}


.heart{
    height: 22px; 
    width: 27px; 
}

.parent-heart {
    position: relative;
    top: 0;
    left: 0;
}

.empty {
    position: relative;
    top: 0;
    left: 0;
}

img{
    height: 300px;
}

.full {
    position: absolute;
    top: 0px;
    left: 0px;
}


button{
    padding: 0.5em;
    display: inline;
    margin: 2px;
    background-color: #ffe497;
    color: #004aad;
    font-size: min(1rem, 4vw);
    font-family: 'Press Start 2P', cursive;
}

button:hover:enabled{
    background-color: #004aad;
    color: #ffe497;
}
.guess{
    color: #d82502;
    font-size: min(1.4rem, 4vw);
}
button:disabled{
    opacity: 0.5;
}

button:enabled:active, button:enabled.clicked{
    border: 4px solid black;
}
.key-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4em;
    font-size: 0px;
}

#clear{
    display: none;
}

.gif{
    margin-top: 40px;
}