<!DOCTYPE html>
<html>

<head>
  <title>Who's that 2D girl?</title>
  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="landing.css">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
</head>

<body>

  <div class="landing-container">
    <div class="welcome-label">Welcome!</div>

    <div class="title-label">Let's guess 2D girls' name!</div>

    <div>Choose your difficulty:</div>
    <div>
      <form action="/difficulty" method="POST" class="buttons">
          <button type="submit" value="casual" name="choice">Casual Fan</button>
          <button type="submit" value="lover" name="choice">Anime Lover</button>
          <button type="submit" value="otaku" name="choice">Mega Otaku</button>
      </form>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  <script src="landing.js" charset="utf-8"></script>
</body>
</html>